<div class="menu-items-container">
  <h1 class="menu-title">Menu for <%= @restaurant.name %></h1>

  <table class="menu-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Spiciness</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @menu_items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.description %></td>
          <td><%= item.category.to_s.titleize %></td>
          <td><%= item.spiciness.to_s.titleize %></td>
          <td>$<%= '%.2f' % item.price %></td>
          <td><%= button_to 'Add to Cart', add_to_cart_path(menu_item_id: item.id, customer_id: current_user.customer.id, set_restaurant_id: true), method: :post %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
    <% if params[:show_clear_cart] %>
      <%= button_to 'Clear Cart', clear_cart_path(restaurant_id: @restaurant.id), method: :delete, class: 'btn btn-warning' %>
    <% end %>
</div>
