<div class="menu-items-container">
  <h1 class="menu-title">Menu for <%= @restaurant.name %></h1>

  <% if current_user.is_restaurant? && @restaurant.user == current_user %>
    <%= link_to 'Create New Item', new_restaurant_menu_item_path(@restaurant), class: 'btn btn-primary' %>
  <% end %>

  <table class="menu-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Spiciness</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @menu_items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.description %></td>
          <td><%= item.category.to_s.titleize %></td>
          <td><%= item.spiciness.to_s.titleize %></td>
          <td>$<%= '%.2f' % item.price %></td>
          <td>
            <% if current_user.is_restaurant? && @restaurant.user == current_user %>
              <%= link_to 'Edit', edit_restaurant_menu_item_path(@restaurant, item), class: 'btn btn-secondary' %>
              <%= button_to 'Delete', restaurant_menu_item_path(@restaurant, item), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
