

<div>
  
  <h1>Edit Customer Profile</h1>
  <%= turbo_frame_tag "customer_name" do %>
    <%= render 'customers/field_form', label: '', field: :name %>
  <% end %>

  <%= turbo_frame_tag "customer_phone_number" do %>
    <%= render 'customers/field_form', label: 'Phone Number:', field: :phone_number %>
  <% end %>

  <%= turbo_frame_tag "customer_address" do %>
    <%= render 'customers/field_form', label: 'Address:', field: :address %>
  <% end %>

</div>
