<div class="customer-profile">
  
  <h1>Customer Profile</h1>
  
  <div class="customer-info">
    <h2><%= @customer.name %></h2>
    <p><strong>Email:</strong> <%= @customer.user.email %></p>
    <p><strong>Phone Number:</strong> <%= @customer.phone_number %></p>
    <p><strong>Address:</strong> <%= @customer.address %></p>

    <% if current_user.is_customer? %>
    <%= link_to 'Edit', edit_profile_path %> 
    <%end %>
  </div>
</div>
