<h2>Order Details</h2>
<p><strong>Order ID:</strong> <%= @order.id %></p>
<p><strong>Order Status:</strong> <%= @order.status %></p>
<!-- Add other order details you want to show -->
<p><strong>Start Time:</strong> <%= @order.start_time %> 
<%if @order.end_time != nil%>
<br><strong>End Time:</strong> <%= @order.end_time %>
<%end%></p>
<p><strong>Total:</strong> <%= @order.total_price %> $</p>
<h3>Order Items</h3>
<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Price</th>
      <!-- Add other columns as needed -->
    </tr>
  </thead>
  <tbody>
    <% @order_items.each do |item| %>
      <tr>
        <td><%= item.menu_item.name %></td>
        <td><%= item.quantity %></td>
        <td><%= item.menu_item.price %></td>
        <!-- Add other item details as needed -->
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.is_restaurant? && @order.status != "Picked Up"%>
    <%= button_to 'Update Status', update_status_path(@order), method: :patch, class: 'update-status-button' %>
<% end %>

<%= link_to 'Back to Orders', orders_path, class: 'button' %>