<!-- app/views/restaurants/index.html.erb -->

<div class="browse-container">
  <!-- Sidebar with menu buttons -->
  <div class="sidebar">
    <!-- Add your menu buttons here -->
    <button class="menu-button"><%= link_to 'Sort by Location', :sort => "location" %></button>
    <button class="menu-button"><%= link_to 'Sort by Operating Hours', :sort => "operating_hours" %></button>
    <!-- Add more buttons as needed -->
  </div>

  <!-- Main content area with restaurant boxes -->
  <div class="main-content">
    <h1>Browse Restaurants</h1>

    <div class="restaurant-list">
      <% @restaurants.each do |restaurant| %>
        <%= link_to restaurant_path(restaurant), class: 'restaurant-box' do %>
          <div class="restaurant-image">
            <%= image_tag 'https://picsum.photos/300/200/?blur', class: 'card-image' %>
          </div>
          <div class="restaurant-details">
            <h2><%= restaurant.name %></h2>
            <p><strong>Address:</strong> <%= restaurant.address %></p>
            <p><strong>Phone Number:</strong> <%= restaurant.phone_number %></p>
            <p><strong>Operating Hours:</strong> <%= restaurant.operating_hours %></p>
            <!-- Add other restaurant information as needed -->
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<!-- Add links for user authentication -->
<!-- <% if user_signed_in? %>
  <%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
  <%if current_user.role == 'customer'%>
     <%= link_to 'Profile', profile_path%>
  <%end%>
  <%if current_user.role == 'owner'%>
     <%= link_to 'Restaurant', restaurant_path(current_user.restaurant)%>
  <%end%>
  <%= csrf_meta_tags %>
  <p>Welcome, <%= current_user.email %></p> -->
<!-- this should be in nav bar -->

<% end %>
