<%= render 'restaurants/rest_info'%>

<%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
<%= link_to 'Edit_login', edit_customer_registration_path%>

<h2>Reviews</h2>

<% @reviews.each do |review| %>
  <div class="review">
    <p><strong>Customer:</strong> <%= review.customer.name %> Stars</p>
    <p><strong>Rating:</strong> <%= review.rating %> Stars</p>
    <p><%= review.comment %></p>
    <p><%= review.recorded_date %></p>
    <!-- Add other review details you want to show -->
  </div>
<% end %>

<%= link_to 'View All Reviews', restaurant_reviews_path(@restaurant), class: 'btn btn-primary' %>